apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: homework
  name: homework-deployment
  labels:
    app: homework
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  replicas: 3
  selector:
    matchLabels:
      app: homework
  template:
    metadata:
      labels:
        app: homework
    spec:
      serviceAccountName: monitoring
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: homework
                  operator: In
                  values:
                    - "true"
      containers:
      - name: nginx
        image: nginx:1.29
        ports:
        - containerPort: 8000
        volumeMounts:
        - name: homework-volume
          mountPath: /homework
        - name: nginx-config-volume
          mountPath: /etc/nginx/conf.d/example.conf
          subPath: example.conf
          readOnly: true
        - name: homework-configmap
          mountPath: /homework/conf
          readOnly: true
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", "rm -f /homework/index.html"]
        readinessProbe:
          httpGet:
            path: /index.html
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
      initContainers:
      - name: init
        image: busybox:1.37
        command:
          - sh
          - -c
          - |
            # Скачиваем index.html
            wget https://gist.githubusercontent.com/chrisvfritz/bc010e6ed25b802da7eb/raw/18eaa48addae7e3021f6bcea03b7a6557e3f0132/index.html -O /init/index.html
            wget --header="Authorization: Bearer $(cat /var/run/secrets/kubernetes.io/serviceaccount/token)" \
                --no-check-certificate \
                https://kubernetes.default.svc:443/metrics -O /init/metrics.html
        volumeMounts:
        - mountPath: /init
          name: homework-volume
      volumes:
      - name: homework-volume
        persistentVolumeClaim:
          claimName: homework-pvc
      - name: nginx-config-volume
        configMap:
          name: example-config
          items:
          - key: example.conf
            path: example.conf
      - name: homework-configmap
        configMap:
          name: homework-cm
          items:
          - key: homework_conf
            path: homework_conf
---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: homework
  name: example-config
data:
  example.conf: |-
    server {
        listen 8000;
        server_name _; # Or your specific domain name

        root /homework; # The directory where your static files are located

        location / {
            try_files $uri $uri/ /index.html; # Tries to serve the file, then the directory index, or returns 404
        }
        location /conf/ {
            types { }
            default_type text/plain;
            add_header Content-Disposition "inline";
        }
          location /metrics.html {
            default_type text/plain;
            add_header Content-Type text/plain;
            try_files /metrics.html =404;
        }
    }
